<!DOCTYPE html>
<html lang="en" th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<head  th:replace="~{header.html}"></head>
<div style="width:50%">
    <form action="/action_page.php" th:object="${product}" method="post">
        <div class="form-group">
            <label for="namep">Name product</label>
            <input type="text" class="form-control" placeholder="Name product" id="namep" th:field="*{name}" required>
        </div>
        <div class="form-group">
            <label for="pricep">Price product</label>
            <input type="text" class="form-control" placeholder="Name product" id="pricep" th:field="*{price}" required>
        </div>
        <div class="form-group">
            <label for="descp">Description product</label>
            <input type="text" class="form-control" placeholder="Name product" id="descp" th:field="*{description}" required>
        </div>
        <button type="submit" class="btn btn-primary">Thêm</button>
    </form>
</div>
</body>
</html>